.texto_justificado{
    text-align: justify !important;
}
.cor_fundo{
    background-image: url(../images/textura.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-color: #fdf8f0 !important;
}
.cor_fundo2{
    background-image: url(../galeria/5.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}
.margem_top{
    margin-top: 22px !important;
}
.imagem{
    width: 150px;
    height: 107px;;
    justify-content: center;
    
    background-image: url(../slider/logo_original.png);
    background-repeat: no-repeat;
}
.cor_branca{
    color: whitesmoke !important;
}
.cor_preta{
    color: black !important;
}